body {
    background-color: rgb(236, 216, 195);
    position: relative;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.card {
    position: absolute;
    background-color: white;
    border-radius: 10px ;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    margin-left: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;

}

label {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 15px;
}

input:focus-visible {
    outline: #ddd;
}

button {
    background: blue;
    color: white;
    height: 38px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: blue;
    border-style: none;
}

.password {
    margin-top: 10px;
    text-align: center;
}

</style>