body{
  background-color: rgb(236, 216, 195);
}
.img {
  height: 250px;
  margin-top: 120px;
  margin-left: 100px;
}
.label1{
  margin-top: 100px;
}
p{
  margin-left: 100px ;
}
.boton1{
  margin-left: 150px;
}
.boton2{
  margin-left: 750px;
}
